@use '../../../styles/variables'

.table
  gap: .5rem
  width: 100%
  .transaction
    border: 1px solid variables.$gray-4
    border-radius: 8px
    display: flex
    justify-content: space-between
    padding: 1.25rem
    & svg
      margin-right: 1rem
