@use '../../styles/variables'

.container
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  width: 100%
  max-width: 75rem
  margin: 5rem auto
  & header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    & img
      height: 4.125rem
    & button
      background: variables.$blue

.search
  display: flex
  gap: 16px
  width: 100%
  & div
    font-family: variables.$roboto
    width: 100%
  & button
    color: variables.$blue
    border-color: variables.$blue
