@use '../../styles/variables'

.container
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  width: 100%
  max-width: 75rem
  margin: 5rem auto
  & header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    & img
      height: 4.125rem
    & button
      background: variables.$blue

.dashboard
  width: 100%
  & div:nth-of-type(3)
    background: variables.$black
    color: variables.$gray-6
  & .value
    font-family: variables.$roboto
    font-size: 1.5rem
    font-weight: 700
    margin-top: 0.75rem

.search
  display: flex
  gap: 16px
  width: 100%
  & div
    font-family: variables.$roboto
    width: 100%
  & button
    color: variables.$blue
    border-color: variables.$blue

.table
  gap: .5rem
  width: 100%
  .transaction
    border: 1px solid variables.$gray-4
    border-radius: 8px
    display: flex
    justify-content: space-between
    padding: 1.25rem
    & svg
      margin-right: 1rem
